<div class="page-not-found-component">

    <h1 class="saturn">Oops, something went wrong</h1>

    <div class="panel panel--error">
        <div class="panel__header">
            <h1 class="panel__title venus">Server error: {{ errorHeading }}</h1>
        </div>
        <div class="panel__body" data-qa="error-body">
            <p class="mars">Sorry, something went wrong with one of our services.</p>
            <p *ngIf="errorBody">{{ errorBody }}</p>
            <a href="/">Back to home</a>
        </div>
    </div>

</div>
