.idea
dist

#aot related
app/**/*.css
app/**/*.js
app/**/*.js.map
aot/*

# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules

# Optional npm cache directory
.npm
