.idea
dist

#aot related
src/app/**/*.css
src/app/**/*.js
src/app/**/*.js.map
aot/*

#Test
coverage

# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Compiled environment config file (for custom set environment variables)
src/environments/environment._compiled.ts


.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
