<div class="collection-exercise-details-component">
    <h1 data-test="SURVEY_TITLE" class="saturn">{{ collectionExerciseDetails?.surveyTitle }}</h1>

    <div class="panel panel--simple panel--info survey-info-panel">

        <div class="grid">
            <dl class="survey-info">
                <dt data-test="INQUIRY_CODE_LABEL" class="survey-info__title grid__col col-4@m">Inquiry code:</dt>
                <dd data-test="INQUIRY_CODE_VALUE" class="survey-info__data grid__col col-8@m inquiry-code">{{ collectionExerciseDetails?.inquiryCode }}</dd>
                <dt data-test="REFERENCE_PERIOD_LABEL" class="survey-info__title grid__col col-4@m">Reference period:</dt>
                <dd data-test="REFERENCE_PERIOD_VALUE" class="survey-info__data grid__col col-8@m reference-period">{{ collectionExerciseDetails?.referencePeriod }}</dd>
            </dl>
        </div>
    </div>

    <h2 data-test="COLLECTION_INSTRUMENTS_HEADING" class="neptune collection-instruments-heading">Collection instruments</h2>

    <ul *ngIf="collectionExerciseDetails?.collectionInstrumentBatch.status === undefined || collectionExerciseDetails?.collectionInstrumentBatch.current > 0">

        <li *ngIf="collectionExerciseDetails?.collectionInstrumentBatch.status === undefined || collectionExerciseDetails?.collectionInstrumentBatch.current === 0">
            <span data-test="NO_COLLECTION_INSTRUMENTS_AVAILABLE_MESSAGE">No collection instruments available</span>
        </li>

        <li *ngIf="collectionExerciseDetails?.collectionInstrumentBatch.status === 'pending' && collectionExerciseDetails?.collectionInstrumentBatch.current > 0">
            <span data-test="READY_TO_LOAD_MESSAGE">{{ collectionExerciseDetails?.collectionInstrumentBatch.current }} Excel files ready to load</span>
            <button data-test="LOAD_COLLECTION_INSTRUMENTS_BUTTON"
                *ngIf="!collectionExerciseDetails.isButtonDisabled"
                class="load-ci-batch-button btn btn--small btn--secondary btn--border"
                (click)="load_ci_batch_click_handler.emit();">Load files</button>

            <span data-test="PROGRESS_INDICATOR" *ngIf="collectionExerciseDetails.isButtonDisabled"> - Please wait ...</span>
        </li>
    </ul>

    <div data-test="LOADED_BATCH_DETAILS" *ngIf="collectionExerciseDetails?.collectionInstrumentBatch.status === 'active'">
        <i data-test="LOADED_BATCH_CHECK_ICON" class="fa fa-check-circle loaded-batch-icon" aria-hidden="true"></i>
        <span data-test="LOADED_BATCH_FILE_COUNT">{{ collectionExerciseDetails?.collectionInstrumentBatch.count }} Excel files loaded</span> -
        <a data-test="DOWNLOAD_CSV_LINK" [href]="collectionExerciseDetails.csvEndpoint">Download list (CSV)</a>
    </div>
</div>
