.survey-info-panel {
    margin-top: 40px;
}

.collection-instruments-heading {
    margin-top: 40px;
}

.load-ci-batch-button {
    margin-left: 10px;
    padding: 9px 20px;
}

.btn--hidden {
    visibility: hidden;
}

.loaded-batch-icon {
    // TODO refactor, use $color-primary from _colors.scss
    color: #0f8243;
}
