<div class="collection-exercise-details-component">
    <h1 class="saturn">{{ collectionExerciseDetails?.surveyTitle }}</h1>

    <div class="panel panel--simple panel--info">

        <div class="grid">
            <dl class="survey-info">
                <dt class="survey-info__title grid__col col-4@m">
                    Inquiry code:
                </dt>
                <dd class="survey-info__data grid__col col-8@m">
                    {{ collectionExerciseDetails?.inquiryCode }}
                </dd>
                <dt class="survey-info__title grid__col col-4@m">
                    Reference period:
                </dt>
                <dd class="survey-info__data grid__col col-8@m">
                    {{ collectionExerciseDetails?.referencePeriod }}
                </dd>
            </dl>
        </div>

    </div>

    <br />
    <br />

    <h2 class="neptune">Collection instruments</h2>

    <ul>
        <li>
            674 Excel files loaded - <a href="bres-2016-seft-cis.csv">Download list (CSV)</a>
        </li>
        <li>
            No collection instruments available
        </li>
        <li>
            674 Excel files ready to load &nbsp;
            <button
                class="js_load_cis_click_handler btn btn--small btn--secondary btn--border"
                (click)="load_cis_click_handler.next();">Load files</button>
        </li>
    </ul>

</div>
