<div class="secure-message-view-component">
    <div class="grid">
        <div class="grid__col col-8@m">

            <div class="secure-message-conversation">
                <h1 class="saturn">{{ originalSecureMessage?.subject }}</h1>

                <div class="secure-message-conversation__message">
                    <div class="secure-message-conversation__metadata">
                        <div class="grid">
                            <div class="grid__col col-9@s">
                                <dl class="grid">
                                    <dt class="grid__col col-2@s secure-message-conversation__field">
                                        From:
                                    </dt>
                                    <dd class="grid__col col-10@s secure-message-conversation__field">
                                        {{ getOriginalSecureMessageMsgFrom().firstName }} {{ getOriginalSecureMessageMsgFrom().lastName }}
                                    </dd>
                                    <dt class="grid__col col-2@s secure-message-conversation__field">
                                        To:
                                    </dt>
                                    <dd class="grid__col col-10@s secure-message-conversation__field">
                                        {{ getOriginalSecureMessageMsgTo().firstName }} {{ getOriginalSecureMessageMsgTo().lastName }}
                                    </dd>
                                    <dt class="grid__col col-2@s secure-message-conversation__field">
                                        Sent:
                                    </dt>
                                    <dd class="grid__col col-10@s secure-message-conversation__field">
                                        {{ (originalSecureMessage?.sent_date === 'N/A') ? 'N/A' : (originalSecureMessage?.sent_date | date:'HH:mm EEE d MMM y') }}
                                    </dd>
                                    <!--<dd class="grid__col col-10@s">{{ (originalSecureMessage?.sent_date !== 'N/A' ? originalSecureMessage.sent_date : originalSecureMessage.modified_date) | date:'EEE d MMM HH:mm' }}</dd>-->
                                </dl>
                            </div>
                            <div class="grid__col col-3@s">
                                <div class="secure-message-conversation__message-actions" *ngIf="user?.id !== originalSecureMessage?.msg_from">
                                    <a href="/secure-messages" (click)="mark_message_read_click_handler.emit($event)">Mark as unread</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="u-mb-l secure-message-conversation__message-body">
                        <ng-container *ngFor="let line of originalMessageBody; let i = index">
                            {{ line }}<br />
                        </ng-container>
                    </p>
                </div>

            </div>

            <form action="#" name="message_reply">
                <fieldset class="u-mb-m">
                    <label class="venus" for="secure-message-body">Add a message</label>
                    <textarea
                        id="secure-message-body"
                        #secureMessageReplyBody
                        class="input input--textarea input--textarea-message"
                        rows="10"
                        name="secure-message-body"
                        [class.input--textarea-error]="secureMessageReplyBody.value.length === bodyMaxLength"
                        [ngModel]="newMessageBody"
                        (change)="onTypingReply($event)"
                        (keyup)="onTypingReply($event)"
                        required
                        aria-labelledby="secure-message-body"
                        maxlength="{{ bodyMaxLength }}"></textarea>

                    <em class="pluto"
                        [class.error-text]="secureMessageReplyBody.value.length === bodyMaxLength">
                            Maximum {{ bodyMaxLength}} characters
                            ({{ bodyMaxLength - secureMessageReplyBody.value.length }} remaining)</em>
                </fieldset>

                <button class="btn btn--secondary" type="submit"
                    (click)="save_draft_click_handler.emit($event)"
                    role="button">Save draft</button>

                <button class="btn" type="submit"
                    (click)="send_reply_click_handler.emit($event)"
                    role="button">Send</button>

                <div class="u-mb-m">
                    <a [routerLink]="'/secure-messages'">Cancel</a>
                </div>
            </form>
        </div>
        <!--<div class="grid__col col-4@m"></div>-->
    </div>
</div>
