.app-component {

    .header {
        background-color : #3a4b52;

        .header__title {
            margin : 0;
            padding : 1em;
            color : #fff;
            font-weight : normal;
            font-size : 1.5rem;
        }
    }

}
