<div class="app-component page">

    <div class="page__content">

        <div class="skip">
            <a class="skip__link" href="#main">Skip to content</a>
        </div>

        <div class="page__header">
            <header class="header">
                <div class="container">
                    <div class="logo header__logo">
                        <a href="/">
                            <img src="/assets/img/logo-white.svg" alt="Office for National Statistics" class="logo__img">
                            <span class="page__header--title">ONS Data Collection</span>
                        </a>
                    </div>
                </div>
            </header>
            <div class="bar " role="banner">
                <div class="bar__inner container">
                    <div class="badge badge--amber u-mr-xs">BETA</div>&nbsp;
                    <div class="bar__title venus">Collect the data</div>
                </div>
            </div>
            <div class="page__subheader"></div>

        </div>
        <div class="container page__container">

            <div class="grid">
                <div class="grid__col col-12@m">

                    <div role="main" id="main" class="page__main">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page__footer">

        <div class="footer page__footer" role="contentinfo">
            <div class="container">
                <div class="pluto">&copy; <a class="footer__link" href="https://www.ons.gov.uk/" target="_blank">Office for National Statistics 2016</a></div>
            </div>
        </div>

    </div>

</div>
