<div class="secure-messages-list-component">

    <table class="secure-messages-list secure-messages-list--table">
        <thead>
            <tr>
                <th class="secure-messages-list__header">RU Ref</th>
                <th class="secure-messages-list__header">Business name</th>
                <th class="secure-messages-list__header">Subject</th>
                <th class="secure-messages-list__header">From</th>
                <th class="secure-messages-list__header">To</th>
                <th class="secure-messages-list__header">Date / time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let message of secureMessages; let i = index;"
                class="secure-messages-list__item secure-messages-list__item--unread">

                <td class="secure-messages-list__field"><!--36509908341B-->{{ (message.reporting_unit) }}</td>
                <td class="secure-messages-list__field"><!--Bolts & Ratchets Ltd-->{{ message.reporting_unit }}</td>
                <td class="secure-messages-list__field secure-messages-list__field--link">
                    <a class="secure-messages-list__link" [routerLink]="[(message.$isDraft ? '/secure-messages/drafts/' : '/secure-messages/message/'), message.msg_id]">{{ message.subject }}</a>
                    <span class="secure-messages-list__label secure-messages-list__label--draft" *ngIf="message.$isDraft">DRAFT</span>
                </td>
                <td class="secure-messages-list__field">{{ message.msg_from }}</td>
                <td class="secure-messages-list__field"><!--Jacky Turner-->{{ message.msg_to }}</td>

                <td class="secure-messages-list__field">{{ (!message.$isDraft ? message.sent_date : message.modified_date) | date:'EEE d MMM HH:mm' }}</td>
            </tr>
        </tbody>
    </table>

</div>
