<div class="secure-message-form secure-message-form-component" #secureMessage>
    <form action="#" name="message_create">
        <p>To: {{to}}</p>

        <fieldset class="u-mb-m">
            <label class="venus" for="secure-message-subject">Subject</label>

            <!-- Allow changing the subject of a draft for a new conversation. Subject can't be changed for a reply -->
            <span *ngIf="message.thread_id === message.msg_id">
                <input
                    id="secure-message-subject"
                    #secureMessageSubject
                    class="secure-message-form__subject input input--text"
                    type="text"
                    name="secure-message-subject"
                    required
                    [class.input--textarea-error]="secureMessageSubject.value.length === subjectMaxLength"
                    [(ngModel)]="subject"
                    (change)="subjectChange.emit(subject)"
                    aria-labelledby="secure-message-subject"
                    maxlength="{{ subjectMaxLength }}" />

                <em class="pluto"
                    [class.error-text]="secureMessageSubject.value.length === subjectMaxLength">
                        Maximum {{ subjectMaxLength }} characters
                        ({{ subjectMaxLength - secureMessageSubject.value.length }} remaining)</em>
            </span>
            <span *ngIf="message.thread_id !== message.msg_id"><br />{{ message.subject }}</span><br />
        </fieldset>

        <ons-secure-message-form-body
            [(bodyText)]="body"
            (bodyTextChange)="bodyChange.emit(body)"
            [maxLength]="bodyMaxLength"
            [fieldLabel]="'Message'"></ons-secure-message-form-body>

        <button class="btn btn--secondary" type="submit"
            (click)="secondary_button_click.emit($event);"
            role="button">Save draft</button>

        <button class="btn btn--primary" type="submit"
            (click)="primary_button_click.emit($event);"
            role="button">Send</button>

        <div class="u-mb-m">
            <a [routerLink]="'/secure-messages'">Cancel</a>
        </div>
    </form>
</div>
