<div class="secure-message-form secure-message-form-component" #secureMessage>
    <form action="#" name="message_create">
        <p>To: {{to}}</p>

        <ons-secure-message-form-subject
            [(subjectText)]="subject"
            (subjectTextChange)="subjectChange.emit(subject)"
            [maxLength]="subjectMaxLength"
            [fieldLabel]="'Subject'"
            [subjectEditable]="message.thread_id === message.msg_id"></ons-secure-message-form-subject>

        <ons-secure-message-form-body
            [(bodyText)]="body"
            (bodyTextChange)="bodyChange.emit(body)"
            [maxLength]="bodyMaxLength"
            [fieldLabel]="'Message'"></ons-secure-message-form-body>

        <ons-button-secondary
            (click_handler)="secondary_button_click.emit($event)"
            [label]="'Save draft'"></ons-button-secondary>

        <ons-button-primary
            (click_handler)="primary_button_click.emit($event)"
            [label]="'Send'"></ons-button-primary>

        <div class="u-mb-m">
            <a [routerLink]="'/secure-messages'">Cancel</a>
        </div>
    </form>
</div>
