<div class="secure-message-form secure-message-form-component" #secureMessage>
    <form action="#" name="message_create">
        <p>To: {{to}}</p>

        <ons-secure-message-form-subject
            [(subjectText)]="subject"
            (subjectTextChange)="subjectChange.emit(subject)"
            [maxLength]="subjectMaxLength"
            [fieldLabel]="'Subject'"
            [subjectEditable]="message.thread_id === message.msg_id"></ons-secure-message-form-subject>

        <ons-secure-message-form-body
            [(bodyText)]="body"
            (bodyTextChange)="bodyChange.emit(body)"
            [maxLength]="bodyMaxLength"
            [fieldLabel]="'Message'"></ons-secure-message-form-body>

        <button class="btn btn--secondary" type="submit"
            (click)="secondary_button_click.emit($event);"
            role="button">Save draft</button>

        <button class="btn btn--primary" type="submit"
            (click)="primary_button_click.emit($event);"
            role="button">Send</button>

        <div class="u-mb-m">
            <a [routerLink]="'/secure-messages'">Cancel</a>
        </div>
    </form>
</div>
