<fieldset class="u-mb-m">
    <label class="venus" for="secure-message-subject">{{ fieldLabel }}</label>

    <!-- Allow changing the subject of a draft for a new conversation. Subject can't be changed for a reply -->
    <ng-container *ngIf="subjectEditable">
        <input
            id="secure-message-subject"
            #secureMessageSubject
            class="secure-message-form__subject input input--text"
            type="text"
            name="secure-message-subject"
            required
            [class.input--textarea-error]="secureMessageSubject.value.length === subjectMaxLength"
            [(ngModel)]="subjectText"
            (change)="subjectTextChange.emit(subjectText)"
            aria-labelledby="secure-message-subject"
            maxlength="{{ maxLength }}" />

        <em class="pluto"
            [class.error-text]="secureMessageSubject.value.length === maxLength">
                Maximum {{ maxLength }} characters
                ({{ maxLength - secureMessageSubject.value.length }} remaining)</em>
    </ng-container>
    <ng-container *ngIf="!subjectEditable"><br />{{ subjectText }}</ng-container><br />
</fieldset>
