$responsive: true;
$s: '/src/assets';
$static: '/src/assets';

/**
 * Src
 */
@import "../common/assets/sass/partials/helpers/functions";
@import "../common/assets/sass/partials/helpers/mixins";
@import "../common/assets/sass/partials/helpers/mq";

@import "../common/assets/sass/partials/vars/colors";
@import "../common/assets/sass/partials/vars/forms";
@import "../common/assets/sass/partials/vars/grid";
@import "../common/assets/sass/partials/vars/typography";
@import "../common/assets/sass/partials/vars/vars";


/**
 * Fake hosted styles
 */
@import "../common/assets/sass/partials/vendor/normalize";

@import "../common/assets/sass/partials/base/global";
@import "../common/assets/sass/partials/base/typography";
@import "../common/assets/sass/partials/base/forms";


/**
 * Structure/layout
 */
@import "../common/assets/sass/partials/objects/container";
@import "../common/assets/sass/partials/objects/page";
@import "../common/assets/sass/partials/objects/type-scale";

@import "../common/components/badge/badge";
@import "../common/components/bar/bar";
@import "../common/components/button/buttons";
@import "../common/components/header/header";
@import "../common/components/panel/panel";
@import "../common/components/skip/skip";

@import "../common/components/02-form-elements/input/input";
@import "../common/components/02-form-elements/input-type/input-type";
@import "../common/components/03-grid/grid";
@import "../common/components/footer/footer";
@import "../common/components/list/list";

@import "../common/components/field/field";


/**
 * Backstage overrides
 */
.bar {
    background-color : #0f8243;
}

.header {
    background-color : $color-black;

    &::before {
        display : none;
    }
}


.header {
    padding : .5em;

    .header__logo {
        > a {
            display : inline-block;
            color : #fff;
            text-decoration : none;
        }
    }
}

.logo {
    .logo__img {
        width: 32px;
        height: 32px;
        margin-right: 0.5rem;
    }
}

.collection-exercise-component,
.secure-messages-component{
    .breadcrumb-component.breadcrumb {
        margin-top : -40px;
    }
}

.secure-messages-component {
    > ul {
        padding-left : 0;
        list-style-type : none;
    }
}

/**
 * Patches
 */
dd.grid__col {
    margin-left : 0;
}
/**
 * End Patches
 */
