<ul class="navigation-tabs navigation-tabs-component">
    <li class="navigation-tabs__item navigation-tabs__item--primary navigation-tabs__item--active">
        <a routerLink="view-message"
            class="btn btn--secondary btn--border navigation-tabs__tab navigation-tabs__tab--active">Inbox</a>
    </li>
    <li class="navigation-tabs__item navigation-tabs__item--primary">
        <a routerLink="view-message"
            class="btn btn--secondary btn--border navigation-tabs__tab">Sent</a>
    </li>
    <li class="navigation-tabs__item navigation-tabs__item--primary">
        <a routerLink="view-message"
            class="btn btn--secondary btn--border navigation-tabs__tab">Drafts</a>
    </li>
    <li class="navigation-tabs__item navigation-tabs__item--primary">
        <a routerLink="view-message"
            class="btn btn--secondary btn--border navigation-tabs__tab">All</a>
    </li>

    <li class="navigation-tabs__item navigation-tabs__item--secondary">
        <a routerLink="create-message"
            class="btn btn--secondary btn--border navigation-tabs__tab navigation-tabs__tab--link">Create new message</a>
    </li>
</ul>
