<ul class="navigation-tabs navigation-tabs-component">
    <li *ngFor="let tab of tabs"
        class="navigation-tabs__item navigation-tabs__item--primary"
        [ngClass]="{
            'navigation-tabs__item--primary': tab.type === undefined,
            'navigation-tabs__item--secondary': tab.type === 'link',
            'navigation-tabs__item--active': tab.selected
        }">

        <!-- TODO - Remove respondent and reporting unit when search feature available -->
        <a [routerLink]="tab.link"
            [queryParams]="tab.queryParams"
            class="btn btn--secondary btn--border navigation-tabs__tab"
            [ngClass]="{
                'navigation-tabs__tab--link': tab.type === 'link',
                'navigation-tabs__tab--active': tab.selected
            }">{{ tab.label }}</a>
    </li>
</ul>
